@use "sass:map";
@use '../helpers/variables' as v;
@use '../helpers/mixins' as mx;
@use '../helpers/typography' as typo;

// General
body{
  @include mx.font-libre-baskerville;
  @include typo.text-preset-3-mobile;
}

h1, h2, h3, h4, ul, p{
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

button{
  background-color: transparent;
  border: 0;
  padding: 0;
}

.global-wrapper{
  @include mx.breakpoint('tablet-landscape'){
    padding: 0 map.get(v.$gutter, "tablet-landscape");
    max-width: 90rem;
    margin: auto;
  }
}
